.App {
  text-align: center;
  background-color: #c6d7eb;
}
.search-form {
  padding-top: 2rem;
}
.search-form input{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    width: 40%;
    height: 3rem;
    font-size: 15px;
}
.search-form input:hover{
  border-radius: 7px;
  width: 45%;
  height: 3.2rem;
  font-size: 20px;
}
.search-form button{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  width: 10%;
  height: 3.1rem;
}
.search-form button:hover{
  width: 12%;
  height: 3.3rem;
  background-color: blueviolet;
  font-family: 'Courier New', Courier, monospace;
}
.recipes {
    display: grid;
    grid-template-columns: auto auto;
}